<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the secret number</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower" rel="stylesheet">
</head>
<body>
<img src="https://previews.123rf.com/images/lenm/lenm1505/lenm150500246/40109330-illustration-of-a-colorful-abstract-question-mark-geometric-design.jpg" width="200">
<h1>Hello, let's play a game - the secret number game!</h1>
<p>I'm thinking of a number between 1 and 50. What is this number?</p>

<form method="post">
    <input type="text" name="guess">
    <button>Try it!</button>
</form>
</body>
</html>

